.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 170px;
}

.box {
    display: flex;
    border: 1px;
    color: white;
    justify-content: center;
    align-items: center;
    flex: 0 0 250px;
}

.box1 {
    background-color: peru;
    font-size: 35px;
    height: 100px;
    flex: 0 0 150px;
}

.box2 {
    background-color: powderblue;
    font-size: 45px;
    height: 125px;
    flex: 0 0 150px;
}

.box3 {
    background-color: salmon;
    font-size: 100px;
    height: 150px;
    flex: 0 0 250px;
}

.box4{
    background-color: slategray;
    font-size: 45px;
    height: 125px;
    flex: 0 0 150px;
}

.box5{
    background-color: steelblue;
    font-size: 35px;
    height: 100px;
    flex: 0 0 150px;
}